/* Hacks for IE6 and below
----------------------------------------------------------------------------------------------------*/

/* fix clearing for IE6 */
.clearfix {
height: 1%;
}

.full-width #gallery-thumbnails ul {
display:inline;
zoom:1;
}