/*
Title:      Walking With A Camera stylesheet
Author:     Pak-Loon Cheng
Copyright:  2012, Pak-Loon Cheng.  All rights reserved (please don't re-use without permission).
*/

/* Reset styles
----------------------------------------------------------------------------------------------------*/
/* Use this to remove browser-specific styling
----------------------------------------------------------------------------------------------------*/

/* Normalise the padding and margins */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
margin:0;
padding:0;
}

/* Normalise the font-size for headers */
h1, h2, h3, h4, h5, h6 { font-size:100%; }

/* Remove list-styles from lists */
ol, ul { list-style:none; }

/* Normalise font-styles and font-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var {
font-style:normal;
font-weight:normal;
}

/* Remove borders and spacing from tables */
table {
border-collapse:collapse;
border-spacing:0;
}

/* Remove border from fieldsets and imgs */
fieldset, img { border:0; }

/* Left-aligns text in caption and th */
caption, th { text-align:left; }

/* Remove quotation marks from q */
q:before, q:after { content: ''; }

img { display:block; }

/* Main layout
----------------------------------------------------------------------------------------------------*/
html {
overflow-y:scroll;
text-align:center;
}

body {
background-color:#ffffff;
color:#231F20;
font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
font-size:62.5%;
height:100%;
text-align:center;
width:100%;
}


/* Typography
----------------------------------------------------------------------------------------------------*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
input,
small,
ol {
line-height: 1.5em;
}

h1 {
color:#888A8C;
font-size:2.4em;
font-weight:normal;
text-align:center;
text-transform:uppercase;
}

h2 {
font-size:1.8em;
margin:0 0 22px 0;
text-transform:uppercase;  
}

h3 {
font-size:1.3em;
margin:0 0 10px 0;
}

h4 { font-size:1.3em; }

p {
font-size:1.3em;
}

input { font-size:1.4em; }
small { font-size:0.8em; }

/* Hovers
----------------------------------------------------------------------------------------------------*/
a:link,
a:visited {
color:#231F20;
text-decoration:none;
}

a:hover {
color:#ff9a35;
}

a:active {
color:#231F20;
}

a.invert:link,
a.invert:visited {
color:#ff9a35;
text-decoration:none;
}

a.invert:hover {
color:#231F20;
}

a.invert:active {
color:#ff9a35;
}

#container {
margin:0 auto 45px auto;
position:relative;
text-align:left;
width:940px;
}

#header {
margin-top:70px;
position:relative;
}

.content {
padding-top:85px;
position:relative;
width:100%;
}

/* Universal classes
----------------------------------------------------------------------------------------------------*/
strong {
font-weight:bold;
}

.mb16 {
margin-bottom:16px;
}

.current-thumb-border {
border:2px solid #000000;
}

.thumb-border {
border:2px solid #ffffff;
}

/* Home Content & Contact Page
----------------------------------------------------------------------------------------------------*/
#home {
padding-top:45px;
text-align:center;
}

#home img,
#contact img {
margin:0 auto 45px auto;
}

#home p {
margin-bottom:16px;
}

#contact {

}

/* Contact Content
----------------------------------------------------------------------------------------------------*/
#contact ol {
float:left;
font-size:1.3em;
margin:0;
padding:0;
width:235px;
}

#contact ol li {
margin:0;
}

#contact-address {
bottom:30px;
left:0;
position:absolute;
}

/* Collection Content
----------------------------------------------------------------------------------------------------*/
.collection-section {
display:inline;
float:left;
margin:0 42px 0 0;
width:285px;
}

.collection-section h3{
font-size: 1.2em;
text-transform: uppercase;
}

/* Gallery Content
----------------------------------------------------------------------------------------------------*/
#gallery-copy {
float:left;
width:310px;
}

#gallery-copy h3 {
margin-bottom:8px;
}

#gallery-copy h4 {
color:#ff9a35;
margin-bottom:0;
}

#gallery-copy h4,
#gallery-copy li {
font-size:1.2em;
line-height:1.35em;
}

#gallery-content {
float:left;
margin:14px 0 0 10px;
position:relative;
width:420px;
}

#gallery-content ul {
margin-bottom:16px;
}

#slidesContainer {
height:225px;
margin:0 auto;
overflow:auto;
position:relative;
width:320px;
}

.slide {
height:225px;
margin:0 auto;
width:320px;
}

.control {
cursor:pointer;
height:24px;
margin-top:-12px;
position:absolute;
text-indent:-9999px;
width:23px;
top:50%;
}

#previous-button {
left:0;
background:transparent url(../images/left-arrow.gif) no-repeat 0 0;
}

#next-button {
right:0;
background:transparent url(../images/right-arrow.gif) no-repeat 0 0;
}

#zoom-caption {
font-size:1.2em;
position:absolute;
text-align:center;
top:238px;
width:100%;
}

#slide-caption {
bottom:-15px;
left:406px;
position:absolute;
}

#gallery-thumbnails {
display:inline;
float:right;
margin-top:30px;
overflow:hidden;
}

#gallery-thumbnails ul {
overflow:hidden;
}

#gallery-thumbnails li {
display:inline;
float:left;
margin:0 0 0 15px;
}

/* Graffiti Content
----------------------------------------------------------------------------------------------------*/
#graffiti #gallery-copy {
width:200px;
}

#graffiti #gallery-copy p {
font-size:1.3em;
margin-bottom:15px;
}

#graffiti #thumbnail-rollover {
float:right;
margin:32px 0 0 0;
position:relative;
width:738px;
}

.thumbnail-list {
border:4px solid #000000;
float:right;
position:relative;
margin-bottom:15px;
width:720px;
}

.thumbnail-list li {
cursor:pointer;
display:inline;
float:left;
height:56px;
position:relative;
width:80px;
z-index:1;
}

.thumbnail-list img {
height:56px;
left:0;
position:absolute;
top:0;
width:80px;
}

#graffiti  #zoom-caption {
clear:both;
margin-bottom:15px;
position:static;
text-align:center;
width:100%;
}

/* Assorted Image Section
----------------------------------------------------------------------------------------------------*/
#assorted-image-section {

}

#assorted-image-section h3 {
font-size:1.2em;
text-transform:uppercase;
}

/* Footer Content
----------------------------------------------------------------------------------------------------*/
#footer {
border-top:1px solid #949599;
clear:both;
margin-top:25px;
overflow:hidden;
padding-top:15px;
position:relative;
width:100%;
}

/* Navigation
----------------------------------------------------------------------------------------------------*/
#navigation {
overflow:hidden;
position:relative;
width:100%;
}

#navigation li {
display:inline;
float:left;
margin-right:25px;
}

#navigation li a {
color:#939598;
font-size:1.1em;
text-transform:uppercase;
}

#navigation li a:hover {
color:#231F20;
}

#navigation li.current a {
color:#231F20;
}

/* Override classes
----------------------------------------------------------------------------------------------------*/
.no-bottom {
margin-bottom:0!important;
}

.no-left {
margin-left:0!important;
}

.no-right {
margin-right:0!important;
}

/* self-clear floats
----------------------------------------------------------------------------------------------------*/
.clearfix:after {
content:"."; 
display:block; 
height:0; 
clear:both; 
overflow:hidden;
visibility:hidden;
}

/*
ColorBox Core Style
The following rules are the styles that are consistant between themes.
Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
ColorBox example user style
The following rules are ordered and tabbed in a way that represents the
order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:#000000;}
#colorbox{}
#cboxContent{margin-top:32px;}
#cboxLoadedContent{background:#000; padding:1px;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#ffffff;}
#cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../images/controls.png) no-repeat 0 0;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious.hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext.hover{background-position:-25px -25px;}
#cboxClose{background-position:-50px 0px; right:4px; top:4px;}
#cboxClose.hover{background-position:-50px -25px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}